<footer class="footer">
  <div class="content">
    <div class="footer-columns">
      <div class="footer-column">
        <a class="footer-logo" href="/" title="A loja brinquedo">
          <img class="footer-logo__image" src="https://i.postimg.cc/mDfPqk7v/logo-brinquedo.png" alt="Logo da A loja brinquedo" title="A loja brinquedo" loading="lazy">
        </a>
        <p class="footer-slogan">Aqui começa a brincadeira! Os melhores brinquedos e colecionáveis em um só lugar. Entrega rápida em todo Brasil.</p>
      </div>
      <div class="footer-column">
          <p class="footer-title footer-title__mobile">Links</p>
          <nav class="footer-column__nav">
              <ul class="footer-column__items">
                  <li class="footer-column__item">
                      <a class="footer-column__href" href="https://www.alojadebrinquedos.com.br/lista/brinquedos-hobbies/bonecas">Barbie</a>
                  </li>
                  <li class="footer-column__item">
                      <a class="footer-column__href" href="https://www.alojadebrinquedos.com.br/lista/brinquedos-hobbies/bonecos-bonecas/bonecos-figuras-acao/">Funko</a>
                  </li>
                  <li class="footer-column__item">
                      <a class="footer-column__href" href="https://www.alojadebrinquedos.com.br/lista/brinquedos-hobbies/veiculos-brinquedo/_brand_428690">Hot Wheels</a>
                  </li>
                  <li class="footer-column__item">
                      <a class="footer-column__href" href="https://www.alojadebrinquedos.com.br/lista/brinquedos-hobbies/pelucias/">Pelúcias</a>
                  </li>
                  <li class="footer-column__item">
                      <a class="footer-column__href" href="https://www.alojadebrinquedos.com.br/lista/brinquedos-hobbies/casinhas-barracas/">Barracas</a>
                  </li>
                  <li class="footer-column__item">
                      <a class="footer-column__href" href="https://www.alojadebrinquedos.com.br/lista/brinquedos-hobbies/brinquedos-montar/">Playmobil</a>
                  </li>
              </ul>
          </nav>
      </div>
      <div class="footer-column">
          <p class="footer-title footer-title__mobile">Ajuda e Suporte</p>
          <nav class="footer-column__nav">
              <ul class="footer-column__items">
                  <li class="footer-column__item">
                      <a class="footer-column__href" href="/p/como-comprar">Como comprar</a>
                  </li>
                  <li class="footer-column__item">
                      <a class="footer-column__href" href="/p/privacidade">Como cuidamos da sua privacidade</a>
                  </li>
              </ul>
          </nav>
      </div>
      <div class="footer-column footer-column__attedance">
          <p class="footer-title footer-title__mobile">Contato</p>
          <nav class="footer-column__nav">
              <ul class="footer-column__items">
                <li class="footer-column__item">
                  <ul class="footer-social__items">
                    <li class="footer-social__item">
                      <a class="footer-social footer-social__facebook" target="_blank" href="https://www.facebook.com/alojadebrinquedos.com.br" title="Facebook"></a>
                    </li>
                    <li class="footer-social__item">
                      <a class="footer-social footer-social__instagram" target="_blank" href="https://www.instagram.com/alojadebrinquedos.com.br/" title="Instagram"></a>
                    </li>
                  </ul>
                </li>
                <li class="footer-column__item">
                    <a class="footer-column__href footer-icon footer-icon__tel" target="_blank" href="tel:+551135676872" title="Telefone">
                        (11) 3567-6872
                    </a>
                </li>
                <li class="footer-column__item">
                    <a class="footer-column__href footer-icon footer-icon__email" target="_blank" href="mailto:lojadebrinquedosbr@gmail.com" title="E-mail">
                        lojadebrinquedosbr@gmail.com
                    </a>
                </li>
                <li class="footer-column__item">
                    <a class="footer-column__href footer-icon footer-icon__loc" target="_blank" href="https://goo.gl/maps/YySC6F7mCVmGR2xW8" title="Localização">
                        Rua Tuim 380, São Paulo - São Paulo
                    </a>
                </li>
              </ul>
          </nav>
      </div>
    </div>
    <div class="footer-payment">
      <p class="footer-title">Formas de pagamento</p>
      <ul class="footer-payment__content">
          <li class="footer-payment__item">
              <img class="footer-payment__image" src="https://i.postimg.cc/3Jxz9bXC/mercado-pago.png" alt="Mercado Pago" title="Mercado Pago" loading="lazy">
          </li>
          <li class="footer-payment__item">
              <img class="footer-payment__image" src="https://i.postimg.cc/L8r799rN/bandeiras.png" alt="Bandeiras" title="Bandeiras" loading="lazy">
          </li>
      </ul>
    </div>
  </div>
  <div class="footer-developers">
    <div class="content">
      <p class="footer-copyright">
        © A Loja de Brinquedos - Todos os direitos reservados.<br>CNPJ: 31.027.351/0001-10
      </p>
      <div class="footer-developers__flex">
        <a class="footer-developers__href" target="_blank" href="https://www.benova.ag/" title="Benova - Gestão ponta a ponta do seu ecommerce">
          <img class="footer-developers__image" src="https://i.postimg.cc/Pqym6KzY/Logo-Benova.png" alt="Benova" title="Benova® - Ecommerce de Alta Performance" loading="lazy">
        </a>
        <a class="footer-developers__href" target="_blank" href="https://www.traycorp.com.br/" title="Mercado Shops - Sua loja virtual">
            <img class="footer-developers__image" src="https://i.postimg.cc/j5kyT51j/Logo-Mercado-Shops.png" alt="Mercado Shops" title="Mercado Shops - Sua loja virtual" loading="lazy">
        </a>
      </div>
    </div>
  </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
  if (window.matchMedia("(max-width:767px)").matches) {
    $(".footer-title__mobile").click(function(){
      $(this).next().toggle();
      $(this).toggleClass("footer-title__opened");
    });
  }

  if (window.matchMedia("(max-width:767px)").matches) {
    $('.menu-main').on('click', function(){
      $(this).toggleClass('open-menu');
    });
  }

  $('.header-icons__search').on('click', function(){
    $('.BoxBuscaPopUp').toggleClass('open-search');
  });

  $('.search-close').on('click', function(){
    $('.BoxBuscaPopUp').removeClass('open-search');
  });

  $('.header-menu__icon').on('click', function(){
    $(this).toggleClass('open-menu');
    $('.menu').toggleClass('open-menu');
  });
</script>
